body {
  background-image: url('matrix.gif');
  background-repeat: repeat;
}

p {
  font-family: verdana;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: ghostwhite;
}

div:hover {
  font-size: 33px;
}

h1 {
  font-family: verdana;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: ghostwhite;
}

@-webkit-keyframes spin { 
  0% { -webkit-transform: rotate(8deg); }
  100% { -webkit-transform: rotate(-8deg); }
}

@keyframes spin { 
  0% { 
    -webkit-transform: rotate(8deg); 
    transform:rotate(8deg); 
  } 
  100% { 
    -webkit-transform: rotate(-8deg); 
    transform:rotate(-8deg); 
  }  
}

h2 {
  font-family: verdana;
  color: ghostwhite;
}

div {
  font-family: Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: ghostwhite;
  transition: font-size ease-in-out .1s;
  transform: translateZ(0);
  will-change: transform;
}


h1 {text-align: center;}
h2 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
button {text-align: center;}
